# TASK
1. Find out there average rating on weely basis keep this in mind that they take two day leave in a week

2. Total working days for each agents

3. Total query have taken

4. Total Feedback that you have received

5. Agent name who have average rating between 3.5 to 4

6. Agent name who have rating less than 3.5

7. Agent name who have rating more then 4.5

8. how many feedback agents have recieved more than 4.5 average

9. Average weekly response time for each agent

10. Average weekly resolution time for each agents

11. list of all agents name

12. percentage of chat on which they hace recived a feedback

13. total contribution hour for each and every agents weekly basis

14. total percentage of active hours for a month

In [1]:
import pandas as pd

In [2]:
agent_login_df = pd.read_csv('Task/Agent_Login_Report (4).xls - Agent Login Report.csv',header=2)
agent_login_df

     SL No               Agent       Date   Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
4        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
..     ...                 ...        ...          ...          ...        ...
995    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
996    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
999   1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [3]:
agent_performance_df = pd.read_excel('Task/AgentPerformance (1).xlsx',header=1)
agent_performance_df

/home/bhoodev/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

## Data Cleaning

In [4]:
agent_performance_df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [5]:
agent_performance_df['Date'] = agent_performance_df['Date'].apply(pd.to_datetime)

In [6]:
agent_login_df['Date'] = pd.to_datetime(agent_login_df['Date'])

In [7]:
agent_performance_df['week'] = agent_performance_df['Date'].dt.isocalendar().week

In [8]:
agent_performance_df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,26
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,26
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,26
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,26
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,26

## 1. Find out there average rating on weely basis keep this in mind that they take two day leave in a week

In [9]:
agent_performance_df.groupby('week')['Average Rating'].mean()

week
26    0.998704
27    1.386647
28    1.548492
29    1.511389
30    1.617847
Name: Average Rating, dtype: float64

## 2. Total working days for each agents

In [10]:
agent_performance_df.groupby('Agent Name')['Date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

## 3. Total query have taken

In [11]:
agent_performance_df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

## 4. Total Feedback that you have received

In [12]:
agent_performance_df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

## 5. Agent name who have average rating between 3.5 to 4

In [13]:
agent_performance_df[(agent_performance_df['Average Rating']>3.5)&(agent_performance_df['Average Rating']<4)]['Agent Name'].unique()

array(['Swati ', 'Manjunatha A', 'Prateek _iot ', 'Nandani Gupta',
       'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ', 'Hrisikesh Neogi',
       'Khushboo Priya', 'Wasim ', 'Jawala Prakash', 'Nishtha Jain',
       'Prerna Singh', 'Boktiar Ahmed Bappy', 'Muskan Garg',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Shivan K',
       'Madhulika G', 'Rishav Dash', 'Maitry ', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Sandipan Saha', 'Anirudh ', 'Jayant Kumar', 'Saurabh Shukla',
       'Aditya Shinde'], dtype=object)

## 6. Agent name who have rating less than 3.5

In [14]:
agent_performance_df[agent_performance_df['Average Rating']<3.5]['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

## 7. Agent name who have rating more then 4.5

In [15]:
agent_performance_df[agent_performance_df['Average Rating'] > 4.5]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

## 8. how many feedback agents have recieved more than 4.5 average

In [16]:
agent_performance_df[agent_performance_df['Average Rating']>4.5].groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

## 9. Average weekly response time for each agent

In [17]:
agent_performance_df['New Average Response Time'] = agent_performance_df['Date'].astype(str)+' '+agent_performance_df['Average Response Time'].astype(str)
agent_performance_df['New Average Response Time'] = pd.to_datetime(agent_performance_df['New Average Response Time'])

In [18]:
agent_performance_df.groupby(['week','Agent Name'])['New Average Response Time'].mean()

week  Agent Name
26    Abhishek        2022-07-02 00:00:00.000000000
      Aditya          2022-07-02 00:00:00.000000000
      Aditya Shinde   2022-07-02 00:00:55.333333248
      Aditya_iot      2022-07-02 00:00:00.000000000
      Amersh          2022-07-02 00:00:00.000000000
                                   ...
30    Uday Mishra     2022-07-27 12:00:00.000000000
      Vasanth P       2022-07-27 12:00:00.000000000
      Vivek           2022-07-27 12:00:00.000000000
      Wasim           2022-07-27 12:00:50.500000000
      Zeeshan         2022-07-27 12:01:03.833333504
Name: New Average Response Time, Length: 350, dtype: datetime64[ns]

## 10. Average weekly resolution time for each agents

In [19]:
agent_performance_df['New Average Resolution Time'] = agent_performance_df['Date'].astype(str)+' '+agent_performance_df['Average Resolution Time'].astype(str)
agent_performance_df['New Average Resolution Time'] = pd.to_datetime(agent_performance_df['New Average Resolution Time'])

In [20]:
agent_performance_df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,week,New Average Response Time,New Average Resolution Time
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,2022-07-30 00:00:38,2022-07-30 00:04:20
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,2022-07-30 00:01:15,2022-07-30 00:28:25
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30,2022-07-30 00:00:30,2022-07-30 00:11:36
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30,2022-07-30 00:01:04,2022-07-30 00:15:46
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30,2022-07-30 00:01:11,2022-07-30 00:16:33
...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,26,2022-07-01 00:00:00,2022-07-01 00:00:00
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,26,2022-07-01 00:00:00,2022-07-01 00:00:00
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,26,2022-07-01 00:00:00,2022-07-01 00:00:00
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,26,2022-07-01 00:00:00,2022-07-01 00:00:00
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,26,2022-07-01 00:00:00,2022-07-01 00:00:00

In [21]:
agent_performance_df.groupby(['week','Agent Name'])['New Average Resolution Time'].mean()

week  Agent Name
26    Abhishek        2022-07-02 00:00:00.000000000
      Aditya          2022-07-02 00:00:00.000000000
      Aditya Shinde   2022-07-02 00:15:26.999999744
      Aditya_iot      2022-07-02 00:00:00.000000000
      Amersh          2022-07-02 00:00:00.000000000
                                   ...
30    Uday Mishra     2022-07-27 12:00:00.000000000
      Vasanth P       2022-07-27 12:00:00.000000000
      Vivek           2022-07-27 12:00:00.000000000
      Wasim           2022-07-27 12:17:34.833333248
      Zeeshan         2022-07-27 12:12:53.500000000
Name: New Average Resolution Time, Length: 350, dtype: datetime64[ns]

## 11. list of all agents name

In [22]:
agent_performance_df['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

## 12. percentage of chat on which they have recived a feedback

In [23]:
agent_performance_df['Feedback Percentage']=agent_performance_df['Total Feedback']/agent_performance_df['Total Chats']*100

In [24]:
agent_performance_df['Feedback Percentage'].mean()

63.35686478378305

Overall <strong>63.35%</strong> user will give feedback to the resolution of there querry

## 13. total contribution hour for each and every agents weekly basis

In [25]:
agent_login_df

     SL No               Agent       Date   Login Time  Logout Time   Duration
0        1  Shivananda Sonwane 2022-07-30  03:35:29 PM  05:39:39 PM   02:04:10
1        2      Khushboo Priya 2022-07-30  03:06:59 PM  03:07:16 PM   00:00:17
2        3       Nandani Gupta 2022-07-30  03:04:24 PM  05:31:07 PM   02:26:42
3        4     Hrisikesh Neogi 2022-07-30  02:34:29 PM  03:19:35 PM   00:45:06
4        5             Mukesh  2022-07-30  02:03:15 PM  03:11:52 PM   01:08:36
..     ...                 ...        ...          ...          ...        ...
995    996        Manjunatha A 2022-07-20  09:03:51 AM  03:02:28 PM   05:58:37
996    997            Bharath  2022-07-20  09:00:49 AM  03:01:32 PM   06:00:43
997    998      Khushboo Priya 2022-07-20  08:59:20 AM  02:26:55 PM   05:27:34
998    999        Nishtha Jain 2022-07-20  08:43:55 AM  02:00:33 PM   05:16:38
999   1000              Tarun  2022-07-01  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [26]:
agent_login_df['New Duration'] = pd.to_timedelta(agent_login_df['Duration'])

In [27]:
agent_login_df['week'] = agent_login_df['Date'].dt.isocalendar().week
agent_login_df

,SL No,Agent,Date,Login Time,Logout Time,Duration,New Duration,week
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02:04:10,0 days 02:04:10,30
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,00:00:17,0 days 00:00:17,30
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02:26:42,0 days 02:26:42,30
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,00:45:06,0 days 00:45:06,30
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,01:08:36,0 days 01:08:36,30
...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51 AM,03:02:28 PM,05:58:37,0 days 05:58:37,29
996,997,Bharath,2022-07-20,09:00:49 AM,03:01:32 PM,06:00:43,0 days 06:00:43,29
997,998,Khushboo Priya,2022-07-20,08:59:20 AM,02:26:55 PM,05:27:34,0 days 05:27:34,29
998,999,Nishtha Jain,2022-07-20,08:43:55 AM,02:00:33 PM,05:16:38,0 days 05:16:38,29
999,1000,Tarun,2022-07-01,01:52:47 AM,12:01:07 PM,514:08:20,21 days 10:08:20,26

In [28]:
agent_login_df.groupby(['Agent','week'])['New Duration'].sum()

Agent          week
Aditya Shinde  30      0 days 00:02:10
Aditya_iot     29      0 days 06:05:43
               30      0 days 09:38:09
Amersh         30      0 days 03:03:50
Ameya Jain     29      1 days 00:04:59
                            ...
Tarun          26     21 days 10:08:20
Wasim          29      0 days 19:37:32
               30      1 days 04:33:13
Zeeshan        29      1 days 00:25:39
               30      1 days 00:39:40
Name: New Duration, Length: 89, dtype: timedelta64[ns]

## 14. total percentage of active hours for a month

In [29]:
agent_login_df.groupby('Agent')['New Duration'].mean()

Agent
Aditya Shinde                      0 days 00:02:10
Aditya_iot               0 days 01:44:52.444444444
Amersh                      0 days 00:45:57.500000
Ameya Jain                  0 days 04:12:27.200000
Ankitjha                    0 days 00:34:00.250000
Anurag Tiwari            0 days 00:04:30.378378378
Aravind                     0 days 02:25:47.700000
Ayushi Mishra            0 days 02:07:04.333333333
Bharath                  0 days 05:20:30.666666666
Boktiar Ahmed Bappy      0 days 02:22:07.470588235
Chaitra K Hiremath       0 days 02:38:25.538461538
Deepranjan Gupta         0 days 01:49:56.396551724
Dibyanshu                   0 days 00:15:10.312500
Harikrishnan Shaji       0 days 02:20:07.521739130
Hrisikesh Neogi          0 days 01:33:21.270270270
Hyder Abbas                 0 days 00:11:38.500000
Ineuron Intelligence               0 days 01:26:55
Ishawant Kumar           0 days 01:03:24.163265306
Jawala Prakash              0 days 02:54:00.500000
Jaydeep Dixit            0 days 05:26:24.181818181
Khushboo Priya           0 days 02:25:11.722222222
Madhulika G              0 days 02:42:33.941176470
Mahesh Sarade            0 days 01:11:32.194444444
Maitry                      0 days 06:11:20.400000
Manjunatha A                0 days 05:09:33.625000
Mithun S                 0 days 03:13:36.071428571
Mukesh                             0 days 02:58:06
Muskan Garg              0 days 01:26:40.666666666
Nandani Gupta            0 days 03:39:07.272727272
Nishtha Jain             0 days 02:26:10.555555555
Nitin M                            0 days 00:47:56
Prabir Kumar Satapathy   0 days 01:17:01.461538461
Prateek _iot             0 days 01:05:00.294117647
Prerna Singh             0 days 02:32:23.111111111
Rishav Dash              0 days 03:28:52.666666666
Saikumarreddy N             0 days 04:18:49.500000
Sanjeev Kumar               0 days 02:14:03.700000
Saurabh Shukla              0 days 00:24:59.675000
Shiva Srivastava            0 days 00:59:58.600000
Shivan K                 0 days 01:00:10.222222222
Shivananda Sonwane       0 days 03:17:09.066666666
Shubham Sharma           0 days 01:32:13.542857142
Sowmiya Sivakumar           0 days 01:51:53.125000
Sudhanshu Kumar          0 days 04:12:10.181818181
Suraj S Bilgi               0 days 02:30:42.600000
Swati                       0 days 05:00:00.800000
Tarun                             21 days 10:08:20
Wasim                       0 days 02:24:32.250000
Zeeshan                     0 days 04:54:31.900000
Name: New Duration, dtype: timedelta64[ns]